@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    
   
}


body{
    height: 100vh;
    color: white;
}
html{
    height: 100vh;
    color: white;
}
#bg{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
.logo-wlug{
    position: absolute;
    top: 0;
    right: 5%;
    z-index: 1000;
   
}
.logo{
    height: 10em;
    width: 10em;
    z-index: 5;
}
.container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

.content{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    gap: 3.5em;
    width: 100%;
    margin-top: 10em;
    padding-top: 3em;
    position: relative;
}
@media (max-width:650px) {
    .content{
        flex-direction: column;
        justify-content: center;
        width: 120%;
    }
    .morphosis{
        display: none;
    }
}
.content:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    border-bottom: 1px solid white;
    transform: scaleX(1);
}

h1{
    font-size: 4rem;
    width: 50vw;
    line-height: 97%;
    text-align: right;
    /* position: relative; */
    /* text-align: center; */
}

.meta-logo{
    margin-top: -8em;
        z-index: 5;
        height: 30rem;
        width: 30rem;
        /* width: 50vw; */
        /* line-height: 97%; */
}
/* .span-2023{
    top: 0;
} */
h1,p{
    flex-basis: 0;
    flex-grow: 1;
    clip-path: polygon(0 0,100% 0 ,100% 0, 0 0);
}
img{
    flex-basis: 0;
    flex-grow: 1;
    clip-path: polygon(0 0,100% 0 ,100% 0, 0 0);
}

p{
    font-size: 1.7rem;
    width: 40vw;
    font-family: 'Inconsolata', monospace;
    /* text-align: center; */
    /* align-items: center; */
    /* align-content: center; */
}






/* CSS */


/* CSS */
.button-64 {
    /* align-self: center; */
  /* align-items: center; */
  margin-top: 1em;
  text-align: center;
  background-image: linear-gradient(144deg,#2E012A, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  /* changed */
  /* margin-left: 12em;  */
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}



.lorem{
   position: absolute;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   /* gap: 4em; */
}
/* .links{
    text-decoration: none;
    height: 2em;
    width: 2em;
} */
.lorem a{
    color: white;
    margin: 1.5rem;
    text-decoration: none;
}
.lorem a span{
    height: 3em;
    width: 3em;
}